#copyright {
    padding: 5px;
    line-height: 10px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 10%;
    vertical-align: middle;
    background-color: #222529;
    font-color: rgb(196, 196, 196);
    color: rgb(196, 196, 196)
}

#copyline {
    padding-top: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    z-index: 3;
    box-sizing: border-box;
    border: none;
    /* line-height: 20px; */
}

/* footer {
    background-color: #222529;
    color: #ffffff;
    position: relative;
    height: 20%;
} */